<h1 id=interTitle>Internship Opportunities</h1>

<p id=interPar>We are working with Companies across WNY to provide internships to the candidates in the<a href=#> Tech Workforce Training Program </a> to enhance the training received from the online full stack program and the professional/personal development program.  The Interns will work on your projects and you will have the opportunity to hire them full-time after the Internship Program.</p>
