<h1 style="text-align: center">Our Partners</h1>
<div class="linkBox">
        <button><a id="curbell" href="https://www.curbell.com/curbell-medical/"><img src="~/images/curbell.jpg" height="250" width="250" /></a></button>
        <button><a id="etg" href="https://emergencetek.com/"><img src="~/images/etg.jpg" height="250" width="250" /></a></button>
        <button><a id="indHealth" href="https://www.independenthealth.com/"><img src="~/images/indHealth.jpg" height="250" width="250" /></a></button>   
        <button><a id="roswell" href="https://www.roswellpark.org/"><img src="~/images/roswell.jpg" height="250" width="250" /></a></button>
        <button><a id="staffBuff" href="https://www.staffbuffalo.com/"><img src="~/images/staffBuff.jpg" height="250" width="250" /></a></button>
        <button><a id="AccAcad" href="https://www.accessibleacademics.org/"><img src="~/images/AccAcad.jpg" height="250" width="250" /></a></button>
        <button><a id="inkLabs" href="https://www.inklabs.us/"><img src="~/images/InkLabs.jpg" height="250" width="250" /></a></button>
        <button><a id="TechSav" href="https://www.techwny.com/"><img src="~/images/TechSavvy.jpg" height="250" width="250" /></a></button>
</div>    