<div class="linkBox">
        <button><a id="curbell" href="http://www/curbellmedical.com" target="_blank"><img src="~/images/curbell.jpg" /></a></button>
        <button><a id="etg" href="https://emergencetek.com/" target="_blank"><img src="~/images/etg.jpg" /></a></button>
        <button><a id="indHealth" href="https://www.independenthealth.com/" target="_blank"><img src="~/images/indHealth.jpg" /></a></button>   
        <button><a id="roswell" href="https://www.roswellpark.org/" target="_blank"><img src="~/images/roswell.jpg" /></a></button>
        <button><a id="staffBuff" href="https://www.staffbuffalo.com/" target="_blank"><img src="~/images/staffBuff.jpg" /></a></button>
        <button><a id="AccAcad" href="https://www.accessibleacademics.org/" target="_blank"><img src="~/images/AccAcad.jpg" /></a></button>
</div>    