<h1 id=addHead>Additional Support</h1>

<ul id=addSupList>
<li>Monthly meetings - share thoughts, successes, challenges, and experiences </li>
<li>Track progress - provide feedback and/or support</li>
<li>Goal setting – provide schedule and timeline templates designed to help students stay on track and meet their goals</li>
<li>Provide support - assist in resolving any problems or issues that may arise in working through the program</li>
<li>Accessibility - we take great pride in being there for our students as they navigate through the program and build their skills.</li>  
</ul> 
<br>
<br>

<h2 id=addJoinUs><a href=#>JOIN US</a></h2>
