<h1 id=groupHead> Group Study Sessions </h1>
<p id=groupOne> Students of the Tech Workforce Training Program of WNY will be provided the opportunity to attend weekly group study sessions, facilitated by leaders within the program, to work in a group environment. Benefits of these sessions include but are not limted to:</p>

<ul id=groupList>
    <li>Additional motivation working in group environment</li>
    <li>On-Site access to mentors</li>
    <li>Ability to interact and share knowledge with fellow students</li>
    <li>Gain experience working in group environment</li>
    <li>Gain confidence working in group environment</li>
    <li>Opportunity to network with your peers</li>
</ul>