<h1 id=peronHead> Personal and Online Mentorship Program </h1>
<p id=peronOne> We provide 1:1 mentorship for each of our students with senior advisors as well as recent graduates of the program.  Students will have the ability to access these mentors 24 hours a day, 7 days a week through various channels.  These channels include, but are not limited to:</p>

<ul id=peronList>
    <li>Phone support</li>
    <li>Online support (slack, zoom, etc)</li>
    <li>Individual 1:1 meetings (in person) with recent, local graduates of the program</li>
    <li>Group meetings (as necessary)</li>
    <li>StaffBuffalo</li>
    <li>EmergenceTek Group (ETG)</li>
    <li>Ink Labs</li>
    <li>Tech Savvy</li>
</ul>