<h1 id=aboutEmpTitle>Tech Workforce Training Program of WNY</h1>

  

<h3 id=aboutEmpHead>Homegrown Solutions – Train & Retain</h3>

<p id=aboutEmpPar>The Tech Workforce Training Program partners with forward-thinking companies in WNY to educate and train the future of WNY’s technology staff in a homegrown environment, encouraging top talent to stay in WNY.  Our program is revolutionizing tech education and creating solutions to fill the talent pool with a workforce readiness program to solve today’s problems, while trailblazing tomorrow’s innovations.  Through the Tech Workforce Training Program, students will go through an intensive technical education, professional and personal development and career pipeline solution to support the local business economy.</p>

<p id=aboutEmpPar>With an ever-increasing strain on the supply of technology professionals, where there are not enough qualified individuals to fill the demand, the Tech Workforce Training Program will solve the ever-widening talent gap in the technology space here in WNY.</p>
