<h1 id=perEmpHead>Tech Workforce Personal Development Program</h1>

<p id=perEmpOne>The Tech Workforce Personal Development Program focuses on development in areas outside of the workplace.  We work with local businesses such as Crunch Fitness, AXA Financial Advisors, InkLabs, and more to provide candidates opportunities and training that focus on topics not typically offered in education and training programs.</p>

<h4 id=perEmpEnhanceHead>Enhance Personal Growth </h4>                                                                     
<h6 id=perEmpEnhanceSubHead>Candidates will reap additional benefits in areas such as: </h6>

<h6 id=perEmpSubHeads>Health and Wellness:</h6>
<p id=perEmpPar>We provide each candidate a 1-year health club membership at Crunch Fitness upon entering the Tech Workforce Training Program.  Our partnership with Crunch Fitness allow us to offer students not only access to the facility and all of its equipment, but also the ability to offer specific and targeted group training sessions (organized and run by Crunch Fitness professionals) that focus on a variety of topics such as cardio, core training, yoga, nutrition and more.</p>

<h6 id=perEmpSubHeads>Career Growth and Decision-making:</h6>
<p id=perEmpPar>Leaders from the local business community will speak with candidates to discuss various topics and offer recommendations and guidance on how making the right choices today can positively impact their successes of tomorrow.  The ultimate goal is for each candidate to experience career growth.</p>

<h6 id=perEmpSubHeads>Financial Planning:</h6>

<p id=perEmpPar>Candidates will meet with a financial advisor and discuss topics pertaining to their financial health.  They will learn how to build wealth and acquire financial security as well as learn important skills pertaining to their future financial goals.  Topics covered during this session include, but are not limited to:</p>
<ul id=perEmpTopicsList>
	<li>Obtaining a strong credit score</li>
	<li>Frugality/self-control</li>
	<li>Tips on saving</li>
	<li>Goal setting</li>
	<li>Budgeting</li>
	<li>Investing (401k, IRA, etc.)</li>
	<li>Smart purchasing</li>
</ul>


<h6 id=perEmpSubHeads>Time Management and Organizational Skills:</h6>
<p id=perEmpPar>Time management and organizational skills will be constantly and consistently developed throughout the program.  This will be accomplished through a variety of avenues but primarily through the constant feedback provided from our leaders and from our weekly and monthly meetings, helping to ensure students remain focused, organized, and committed to their goals.  We also offer additional support to keep students on task by providing schedule and timeline templates, breaking down in detail the time and steps necessary to meet their goals.</p>
