<div class="container" style="text-align: center">
    <h1>Internship Program</h1>
    <p>After completing the Tech Workforce Training Program, our team will personally work with each candidate to
    acquire and prepare for interviews with our partners and other local businesses. The Tech Workforce Training
    Program will provide the technical, personal and professional skills necessary to land an internship or entry
    level job in development. We also play a role in what to expect day one through year one.</p>
</div>
<div class="linkBox">
    <button><a id="curbell" href="https://www.curbell.com/curbell-medical/" target="_blank"><img src="~/images/curbell.jpg" /></a></button>
    <button><a id="etg" href="https://emergencetek.com/" target="_blank"><img src="~/images/etg.jpg" /></a></button>
    <button><a id="indHealth" href="https://www.independenthealth.com/" target="_blank"><img src="~/images/indHealth.jpg" /></a></button>   
    <button><a id="roswell" href="https://www.roswellpark.org/" target="_blank"><img src="~/images/roswell.jpg" /></a></button>
    <button><a id="staffBuff" href="https://www.staffbuffalo.com/" target="_blank"><img src="~/images/staffBuff.jpg" /></a></button>
    <button><a id="inkLabs" href="https://www.inklabs.us/" target="_blank"><img src="~/images/InkLabs.jpg" /></a></button>
    <button><a id="TechSav" href="https://www.techwny.com/" target="_blank"><img src="~/images/TechSavvy.jpg" /></a></button>
</div>