<div style="text-align: center">
    <h1>Online Program</h1>

    <p>Each candidate will go through an intensive online training program, developed by ETG and aligned with Steve Wozniak’s vision for technological development.</p>
    <p>Students will learn full stack development in 3 languages:  C Sharp, Java and JavaScript.</p>
    <p>EmergenceTek Group President and CEO Brian Lehman (InfoTech WNY’s 2019 BETAS Awards IT Leader of the Year) will oversee each student’s technological development and transformation process</p>
</div>

<h3>ONLINE PROGRAM</h3>                                                                              

<ul>
    <li>
        <a class= "SWD100">SWD 100 – Coding From Scratch (40 hrs) <span class="caret"></span> </a>
            <p class= "SWD100">Click here to learn more about SWD100</p>
    </li>

    <li>SWD 101 – Front-end Foundations (40 hrs)</li>
    <li>SWD 102CS – Programming Foundations C# (40 hrs)</li>
    <li>SWD 103 – Front-end Frameworks – React (40 hrs)</li>
    <li>SWD 104CS – Back-end Foundations - C# (40 hrs)</li>
    <li id=onlineListHigh>Begin Professional Development Program</li>
    <li>SWD 105 – Database (40 hrs)</li>
    <li>SWD 106 – Mobile Apps (40 hrs)</li>
    <li>SWD 107 – Agile (40 hrs)</li>
    <li>SWD 108 – Deployment & Web Security (40 hrs)</li>
    <li>SWD 102JS – Programming Foundations – JavaScript (40 hrs)</li>
    <li>SWD 104JS – Back-end Foundations – JavaScript (40 hrs)</li>
    <li>SWD 102JV – Programming Foundations – Java (40 hrs)</li>
    <li>SWD 104JV – Back-end Foundations – Java (40 hrs)</li>
</ul>

</div>