<h1 id=proHead>Tech WorkForce Professional Development Program </h1>

<p id=proOne> The Tech Workforce Professional Development Program is a professional skills translation program that is layered on top of the online education program. Together, these programs form a rigours training program designed to fully prepare candidates for their technology careers.</p>

<p id=proTwo> Maggie Shea and Lauren Lewis of StafBuffalo will work to provide each candidate with the essentail skills necessary to successfully transition into the professional workplace. </p>


<h5 id=proTopic>Topics Include:</h5>
<ul id=proList>
    <li>Professional Workplace Skills</li>
    <li>Resume Writing</li>
    <li>Interviewing Workshops</li>
    <li>Networking</li>
    <li>Work-Life Balance</li>
</ul>

