<div class="about us">
<h1>ABOUT US</h1>
<h3>Tech Workforce Training Program of WNY</h3>
<h4>Homegrown Solutions - Train & Retain</h4>

<p>The Tech Workforce Training Program is a comprehensive training program, designed to fully 
prepare you for a career in the technology field in as little as 6-8 months! We provide both online training 
in full stack development (inspired by Steve Wozniak's innovative training program) along with personal/professional 
development training designed to develop those "soft skills" necessary to be successful in your career, 
and your life.</p>

<h5>Each candidate will go through a rigorous training program learning full stack development in 3 different 
languages, while simultaneously receving top quality (and seldom offered) soft skills training in professional 
and personal development.
    
</div>
