<div class="about-us">
    <h1>ABOUT US</h1>

<h3>TECH WORKFORCE TRAINING PROGRAM of WNY</H3>

<h4>HOMEGROWN SOLUTIONS - TRAIN & RETAIN</h4>

<p>The Tech Workforce Training Program isi a comprehensive training program, designed to fully 
prepare you for a career in the technology field in as little as 6-8 months! we provide both online 
training in full stack development training designed to develop those "soft skills" necessary to be successful
in your career, and your life. </p>

<h5> Each candidate will go through a rigorous online training program learing full stack development in 3
    different languages, while simultaneously receiving top quality (and seldom offered) soft skills training
    in professional and personal development. </h5> 
    
    </div>