<title>Tech Workforce Training Program</title>
 
<div class = "front-job-op">  
    <h3>Job Opportunities in WNY</h3> 
        <ul> 
            <li>Software engineer</li> 
            <li>Full-stack developer</li> 
            <li>Front-end developer</li> 
            <li>Back-end developer</li> 
            <li>Web developer</li> 
            <li>Database engineer</li> 
        </ul>
</div>

<div class="front-corp-part"> 
   <h3>Corporate Partners</h3> 
        <ul> 
            <li>EmergenceTek Group ETG</li> 
            <li>Independent Health</li> 
            <li>Curbell</li> 
            <li>Roswell Park</li> 
            <li>InkLabs</li> 
            <li>StaffBuffalo</li> 
        </ul>
</div>