<div class= "front-page">

    <div class= "front-page-spacer">
        <p></p>
    </div>

    <div class= "front-page-pics">

        <div class= "front-pic-left">
            <img src= "..\leftPic.jpg" alt="left">
        </div>

        <div class= "front-pic-right">
            <img src= "rightPic.jpg" alt="right">
        </div>
    </div>

    <div class= "front-page-info">

        <div class= "front-job-op">

            <ul>
                <h3>Job Opportunities in WNY</h3>

                <li>Software engineer</li> 
                <li>Full-stack developer</li> 
                <li>Front-end developer</li> 
                <li>Back-end developer</li> 
                <li>Web developer</li> 
                <li>Database engineer</li> 
            </ul>
        </div>

        <div class= "front-corp-part"> 

            <ul> 
                <h3>Corporate Partners</h3>

                <li>EmergenceTek Group ETG</li> 
                <li>Independent Health</li> 
                <li>Curbell</li> 
                <li>Roswell Park</li> 
                <li>InkLabs</li> 
                <li>StaffBuffalo</li> 
            </ul>
        </div>
    </div>
</div>