<title>Tech Workforce Training Program</title> 

<div> 
<h1>Tech Workforce Training Program</h1> 
 
 
</div> 
 
 
<div> 
    <h3>Job Opportunities in WNY</h3> 
        <ul> 
            <li>Software engineer</li> 
            <li>Full-stack developer</li> 
            <li>Front-end developer</li> 
            <li>Back-end developer</li> 
            <li>Web developer</li> 
            <li>Database engineer</li> 
        </ul> 
 
   <h3>Corporate Partners</h3> 
        <ul> 
            <li>EmergenceTek Group ETG</li> 
            <li>Independent Health</li> 
            <li>Curbell</li> 
            <li>Roswell Park</li> 
            <li>InkLabs</li> 
            <li>StaffBuffalo</li> 
        </ul> 
 
        <a herf="about_us">About Us</a> 
</div> 