<h1 id=missionHead>Mission Statement</h1>

<p id=workText>Tech Workforce Training Program’s mission is to provide top-end technology training combined with rarely offered soft skills training designed to create workplace-ready candidates capable of filling the ever-widening gap between the demand for local technology jobs and the supply of qualified people able to fill them.    
</p>

// Change Font to larger size