<div class="pesonalDev">

    <h1>Tech Workforce Personal Development Program</h1>

    <div class="descrip">
        <p>The Tech Workforce Personal Development Program focuses on development in areas 
            outside of the workplace. We work with local businesses such as Crunch Fitness, 
            AXA Financial Advisors, InkLabs, and more to provide candidates oppertunities 
            and training that focus on topics not typically offered in education and training 
            programs.
        </p>
    </div>

    <div class="list">
        <h3>Enhance Personal Growth</h3>
    
        <p>Candidates will reap additional benefits in areas such as:</p>

        <ul>
            <li>Health and Wellness</li>
            <li>Career Growth and Decision-making</li>
            <li>Financial Planning</li>
            <li>Time Management and Organizational skills</li>
        </ul>
    </div>
</div>