@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


#top {

    display: flex;
    justify-content: center;
}
#theMenu {
    display: flex;
    justify-content: space-around;
}