<div class="container" style="text-align: center">
    <h1>The TEAM</h1>
    <div class="text">
        <button>
            <u><a href="https://www.linkedin.com/in/jim-klubek-a36a6519a/">James Klubek</a> - Founding Partner</u><br>
        </button>    
            <p>Educational Consultant Woz Ed</p>
    </div>
    <div class="text">
        <button>
            <u><a href="https://www.linkedin.com/in/brianlehman/">Brian Lehman</a> - Founding Partner</u><br>
        </button>    
            <p>President/CEO EmergenceTek Group ETG</p>
    </div>
    <div class="text">
        <button>
            <u><a href="https://www.linkedin.com/in/maggiesheastaffbuffalo/">Maggie Shea</a> - Founding Partner</u><br>
        </button>
        <p>CPA StaffBuffalo</p>    
    </div>
    <div class="text">
        <button>
            <u><a href="https://www.linkedin.com/in/lauren-lewis-staffbuffalo/">Lauren Lewis</a> - Founding Partner</u><br>
        </button>    
        <p>MBA StaffBuffalo</p>
</div>            
