<div class="container" style="text-align: center">
    <h1>The TEAM</h1>
    <div class="text">
        <u><a>James Klubek</a> - Founding Partner</u><br>
        <p>Educational Consultant Woz Ed</p>
    </div>
    <div class="text">
        <u><a>Brian Lehman</a> - Founding Partner</u><br>
        <p>President/CEO EmergenceTek Group ETG</p>
    </div>
    <div class="text">
        <u><a>Maggie Shea</a> - Founding Partner</u><br>
        <p>CPA StaffBuffalo</p>
    </div>
    <div class="text">
        <u><a>Lauren Lewis</a> - Founding Partner</u><br>
        <p>MBA StaffBuffalo</p>
</div>            
