<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Code</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="dropdown"> 
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                Home 
            </button> 
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                <a class="dropdown-item" href="#">About us</a> 
                <a class="dropdown-item" href="#">Mission Statement</a> 
                <a class="dropdown-item" href="#">Our Team</a> 
            </div> 
            <div class="dropdown"> 
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    Programs 
                </button> 
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" href="#">Online Program</a> 
                    <a class="dropdown-item" href="#">Prof Dev Program</a> 
                    <a class="dropdown-item" href="#">Personal Dev Program</a> 
                    <a class="dropdown-item" href="#">Internship Program</a> 
                </div> 
            <div class="dropdown"> 
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    Services & Support 
                </button> 
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" href="#">Personal Mentorship</a> 
                    <a class="dropdown-item" href="#">Online Mentorship</a> 
                    <a class="dropdown-item" href="#">Group Study Sessions</a> 
                    <a class="dropdown-item" href="#">Additional Support</a> 
                </div> 
                <div class="dropdown"> 
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    Employer Page 
                </button> 
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" href="#">About us</a> 
                    <a class="dropdown-item" href="#">Online Program</a> 
                    <a class="dropdown-item" href="#">Prof Dev Program</a> 
                    <a class="dropdown-item" href="#">Personal Dev Program</a> 
                </div> 
                <div class="dropdown"> 
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    Partners 
                </button> 
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" href="#">Our Partners</a> 
                    <a class="dropdown-item" href="#">Internship Opp</a> 
                    <a class="dropdown-item" href="#">Join us!</a> 
                </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Code</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Code - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
