<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Workforce Training Program</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.jpg" width="30" height="30">Tech Workforce Training Program</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Home 
                    </button> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" asp-controller="Home" asp-action="AboutUs">About us</a> 
                        <a class="dropdown-item" asp-controller="Home" asp-action="MissionState">Mission Statement</a> 
                        <a class="dropdown-item" asp-controller="Home" asp-action="TheTeam">Our Team</a> 
                    </div>
                </div>
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Programs 
                    </button> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" asp-controller="Home" asp-action="PaOMP">Online Program</a>  
                        <a class="dropdown-item" asp-controller="Home" asp-action="PersDevProg">Personal Dev Program</a> 
                        <a class="dropdown-item" asp-controller="Programs" asp-action="InternProg">Internship Program</a>
                        <a class="dropdown-item" asp-controller="Programs" asp-action="ProDevProg">Prof Dev Program</a> 
                    </div>
                </div> 
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Services & Support 
                    </button> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" asp-controller="ServSupp" asp-action="PersonalMent">Personal Mentorship</a> 
                        <a class="dropdown-item" asp-controller="ServSupp" asp-action="OnlineMent">Online Mentorship</a> 
                        <a class="dropdown-item" asp-controller="ServSupp" asp-action="GroupStudy">Group Study Sessions</a> 
                        <a class="dropdown-item" asp-controller="ServSupp" asp-action="AdditionalSupp">Additional Support</a> 
                    </div> 
                </div>
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Employer Page 
                    </button> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" asp-controller="Employer" asp-action="AboutUs">About us</a> 
                        <a class="dropdown-item" asp-controller="Employer" asp-action="OnlineProg">Online Program</a> 
                        <a class="dropdown-item" asp-controller="Employer" asp-action="ProDevProg">Prof Dev Program</a> 
                        <a class="dropdown-item" asp-controller="Employer" asp-action="PersDevProg">Personal Dev Program</a> 
                    </div> 
                </div>
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        Partners 
                    </button> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" asp-controller="Partners" asp-action="OurPartners">Our Partners</a> 
                        <a class="dropdown-item" asp-controller="Partners" asp-action="InternOpportunity">Internship Opp</a> 
                        <a class="dropdown-item" asp-controller="Partners" asp-action="JoinUs">Join us!</a> 
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
